
#biografija {
    border-left: 8px solid blue;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #eef5ff;
}


#postignuca {
    background-color: #f0fff0;
    border: 2px dashed green;
    padding: 5px;
}

#postignuca li {
    margin-bottom: 5px;
    font-weight: bold;
}


#citat {
    border: 3px solid red;
    font-size: 22px;
    padding: 10px;
    width: fit-content;
    background-color: #ffff2f;
}
