main {
    border: 1px solid gray;
    width: 542px;
}

a {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: #b587f6;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: white;
    border-bottom-color: white;
}

nav {
    background-color: #6200ee;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

section {
    font-size: 0px;
}

img {
    object-fit: cover;
    width: 256px;
    height: 256px;
    margin: 10px 0 10px 10px;
}